.home{
    background-color: azure;
    min-height: 100vh;
    padding-top: 40px;
}

.top{

    height:80px;
    display:flex;
    align-items:center;
    justify-content:center;

}


.body{

    display:flex;
    align-items:center;
    justify-content:center;
    margin-left: 150px;
}